@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 82.5%;
  margin: 0 auto;
}
.banner {
  margin: 50px auto 120px;
  background-image: url(./resources/Banner\ Image.png);
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}
.banner-content {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82.5%;
}

.banner-greeting {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* offer section styles  */
.offer-container {
  text-align: center;
  margin-bottom: 120px;
}
.offer-off {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-catagory {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* welcome party section style here  */
.welcome-party-container {
  margin-bottom: 120px;
  background-image: url(./resources/Vectorrr.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
}
.welcome-party {
  height: 600px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  width: 84%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39.7px;
}

.welcome-party h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}
.welcome-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
.welcome-party a {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

/* party details section styles  */
.party-details-container {
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 82%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.party-details {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 64px;
}
.party-details span {
  color: #f00;
}
.party-join {
  padding: 16px 32px;
  align-items: center;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

/* new best offer section styles  */
.new-best-offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 82%;
  margin: 0 auto;
  margin-bottom: 120px;
}
.new-best-offer-details {
}
.new-best-offer-details h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.new-best-offer-details h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.new-best-offer-details p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;

  font-weight: 400;
  line-height: 32px;
}
.new-offer-img {
  border-radius: 50%;
  border: 15px solid #f00;
  padding: 49.08px;
}
.more-new-offer-details {
}
.more-new-offer-details h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.more-new-offer-details p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

/* portfolio section styles here  */
.portfolio-container {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 120px;
}
.text-info h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.text-info h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.text-info p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
}
.grid-item {
  border-radius: 16px;
  -webkit-filter: brightness(70%);
}
.grid-item:hover {
  transition: 1s ease;
  -webkit-filter: brightness(100%);
}
/* newsletter section styles  */
.newsletter-container {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 120px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1320px;
  height: 616px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.newsletter img {
  margin-bottom: 40px;
}
.newsletter h1 {
  margin-bottom: 22px;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.newsletter p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.subscribe {
  margin-bottom: 80px;
  display: flex;
}
.subscribe button {
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.subscribe button:hover {
  transition: 1s ease;
  font-size: x-large;
  background: #f6a012;
}
.sub_input {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px 0 0 50px;
  background: #fff;
  color: rgba(7, 2, 17, 0.3);
  padding-left: 30px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
/* footer section styles  */
.footer-container {
  width: 100%;
  background: #070211;
  height: 609px;
  color: white;
}
.phone,
.website {
  display: flex;
  align-items: center;
  gap: 16px;
}
.add-info {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  padding: 120px 0 50px;
}
hr {
  background: rgba(255, 255, 255, 0.15);
  width: 1320px;
  height: 1px;
  margin: 0 auto;
  border: none;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  gap: 24px;
}
.rights {
  padding: 50px 0 120px;
  display: flex;
  justify-content: space-between;
  width: 67%;
  margin: 0 auto;
}
.rights p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.rights a {
  text-decoration: none;
  color: #fff;
}
