@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 82.5%;
  margin: 0 auto;
}
.banner {
  margin: 50px auto 120px;
  background-image: url(./resources/Banner\ Image.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-content {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 488px;
}

.banner-greeting {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* offer section styles  */
