@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 82.5%;
  margin: 0 auto;
}
.banner {
  margin: 50px auto 120px;
  background-image: url(./resources/Banner\ Image.png);
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}
.banner-content {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75.5%;
}

.banner-greeting {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* offer section styles  */
.offer-container {
  text-align: center;
  margin-bottom: 120px;
}
.offer-off {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-catagory {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
